<head>
	<meta http-equiv="Content-Type" charset="UTF-8" content="text/html" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=3" />
	<title>Boloney Time Machine</title>
	<meta id="meta" name="author" content="Dickie Stevens, boloneytimemachine.com">
	<meta property="og:url" content="http://www.boloneytimemachine.com/comic/common-courtesy" />
	<meta property="og:title" content="How do you partake?" />
	<meta property="og:description" content="" />
	<meta property="og:image" content="http://boloneytimemachine.com/strips/third_10/thumbnails/26-common-courtesy.png" />
	<!--
		04-16-18 KTM: Changed the order. Ideally, you want to load libraries/frameworks first before loading your stuff.
		This way, your custom/JS stuff will load last but have priority.
	->
	<!--===============================JQUERY.MIN CDN===========================================================-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!--===============================RESPOND.MIN CDN FOR INTERNET EXPLORER====================================-->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<!--===============================BOOTSTRAP CDN COMPILED AND MINIFIED CSS==================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!--===============================BOOTSTRAP CDN COMPILED AND MINIFIED JS===================================-->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!--===============================GOOGLE FONTS=============================================================-->
	<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
	<!--===============================BTM CSS==================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/btmcss.css?042818"/>
	<!--===============================BTM FAVICON=========================================================-->
	<link rel="icon" href="/pictures/btmfavicon.png">
	<!--===============================BTM JS FILE================================================-->
	<script type="text/javascript" src="/assets/btmjs.js?042818"></script>
</head>