<div class="container content" style="padding: 0px 30px 50px 30px;">
	<p id="BTM-Title" class="visible-xl visible-lg visible-md visible-sm"><u>ABOUT</u></p>
	<p id="BTM-Title-Mobile" class="visible-xs"><u>ABOUT</u></p>
	<img id="bioPicture" class="img-thumbnail" style="float:left;" src="/pictures/bioPicture.jpg">
	<p class="aboutFont">BOLONEY TIME MACHINE (BTM) FOLLOWS HERO AND SIDEKICK, A PAIR OF SUPERHEROES WHO JUST JOINED THE SOCIETY OF H.A.V.V.O.C. (HEROES, ANTIHEROES, VIGILANTIES, VILLAINS, <b>&</b> OTHER CHARACTERS)
		AND HAVE THE POTENTIAL TO BE EPIC, BUT HALF<br/> THE DRIVE TO DO IT.
		<br/>
		<br/>
		WHEN NOT DRAWING, STEVENS IS MOST LIKELY DRAFTING WORLD DOMINATION WITH HIS PUP ZOEY (NO NOT REALLY) OR OPENLY EXPRESSING HIS HATRED TOWARD MUSTARD (MOST LIKELY).
		<br/>
		<br/>
		YOU CAN EMAIL DICKIE AT DICKIESTEVENS[AT]BOLONEYTIMEMACHINE.COM.
	</p>

</div>
