<div class="container content">
	<p id="BTM-Title" class="visible-xl visible-md visible-lg  visible-sm"><u>COMIC ARCHIVE</u></p>
	<p id="BTM-Title-Mobile" class="visible-xs"><u>COMIC ARCHIVE</u></p>	
	<p class="comicPage comicPage-active">
		<a class="comicPage-neutral" href="/comics-new.html">[Newest on Top]</a>
		<a class="comicPage-neutral" href="/comics-old.html">[Oldest on Top]</a>

		<table class="table table-striped table-border table-hover">
	<!--
	04-17-2018 KTM:

	New Comics will be added inside tbody with the assistance of a gulp task.
	-->

			<tbody>
			</tbody>
		</table>
	</p>
</div>
