<script type="text/javascript" src="/assets/app.js"></script>
<div class="nav navbar-nav hidden-xs marginBottom5">
	<p class="strip-date">New Strip Every Other Thursday</p>
	<!--First Strip Arrow-->
	<a href="#" class="nav-btn-first"><img class="first-arrow" src="/pictures/arrows/firststriparrow.png" title="First Comic"/></a>
	<!--LEFT ARROW-->
	<a href="#" class="nav-btn-left"><img class="arrow" src="/pictures/arrows/leftarrow.png" title="Previous Comic"/></a>
	<!--RANDOM BUTTON-->
	<a href="#" class="nav-btn-random"><img class="arrow" src="/pictures/arrows/randombutton.png" title="Random Comic"/></a>
	<!--RIGHT ARROW-->
	<a href="#" class="nav-btn-right"><img class="arrow" src="/pictures/arrows/rightarrow.png" title="Next Comic"/></a>
	<a href="#" class="nav-btn-last"><img class="last-arrow" src="/pictures/arrows/firststriparrow.png" title="Last Comic"/></a>
</div>
<!--===============================CONTENT START============================================================-->
<div class="container content hidden-xs">
	<!--Jam your strip here and then go outside and do stuff-->
	<img class="img-thumbnail center-block 4-pane-strip comicStrip" src="/strips/2017/08/">
	<p id="BTM-Comic-Title-Mobile">Comic Title</p>
</div>
<div class="container content visible-xs">
	<!--Jam your strip here and then go outside and do stuff-->
	<img class="img-thumbnail center-block comicStrip" src="/strips/2017/08/">
	<p id="BTM-Comic-Title-Mobile">Comic Title</p>
</div>

<!--===============================ARROWS MOBILE=============================================================-->
<!--
04-18-2018 KTM:
I changed the classes from mobile to arrow. Not sure why you had duplicates.

Not sure why these controls are on bottom versus top. For maintenance, it'll be easier in one location. However,
in this case, it is the same information top & bottom, so all you have to do is modify one, copy, and paste to the other.
-->

<div class="container">
	<div class="nav navbar-nav visible-xs">
		<!--First Strip Arrow-->
		<a href="#" class="nav-btn-first"><img class="first-arrow" src="/pictures/arrows/firststriparrow.png" title="First Comic"/></a>
		<!--LEFT ARROW-->
		<a href="#" class="nav-btn-left"><img class="arrow" src="/pictures/arrows/leftarrow.png" title="Previous Comic"/></a>
		<!--RANDOM BUTTON-->
		<a href="#" class="nav-btn-random"><img class="arrow" src="/pictures/arrows/randombutton.png" title="Random Comic"/></a>
		<!--RIGHT ARROW-->
		<a href="#" class="nav-btn-right"><img class="arrow" src="/pictures/arrows/rightarrow.png" title="Next Comic"/></a>
		<a href="#" class="nav-btn-last"><img class="last-arrow" src="/pictures/arrows/firststriparrow.png" title="Last Comic"/></a>
		<p class="strip-date-mobile">New Strip Every Other Thursday</p>
	</div>
</div>

<div id="disqus_thread" class="container"></div>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>